<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <title>
      {% if title %}
        {{ title }} | Online Account Management App
      {% else %}
        Welcome to Online Account Management App
      {% endif %}
    </title>
  </head>
  <body>
    
    <!-- Navigation -->
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.home') }}">FLAK<span class="text-primary">OUNT</span></a>
        <ul class="navbar-nav flex-row ml-auto">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="btn btn-outline-primary" href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
            </li>
          {% else %}
          <li class="nav-item mr-md-1">
            <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
          </li>
          <li class="nav-item mx-md-1">
            <a class="btn btn-outline-primary" href="{{ url_for('auth.register') }}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {# get_flashed_messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    <section class="container">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show mt-2" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </section>
    {% endwith %}

    {# Main content to be inserted #}
    {% block content %}{% endblock %}
    
    <!-- Bootstrap Native -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.0/bootstrap-native.min.js"></script>
  </body>
</html>