<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- Custom font -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    
    <title>
      {% if title %}
        {{ title }} | Online Account Management App
      {% else %}
        Welcome to Online Account Management App
      {% endif %}
    </title>
  </head>
  <body>
    <!-- Main content to be inserted -->
    {% block content %}{% endblock %}

    <!-- Bootstrap Native -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/3.0.0/bootstrap-native.min.js"></script>
  </body>
</html>